term.txt
#site/
*.md.backup
.gitignore
.idea/
.git
.gitignore
.idea/docinventairedesorgues.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
/.idea/workspace.xml
